@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WCF Service Calculator Test</h1>
    <p class="lead">Value A: <strong>@ViewBag.Data.ValueA</strong></p>
    <p class="lead">Value B: <strong>@ViewBag.Data.ValueB</strong></p>
    <p class="lead">Operation: <strong>@ViewBag.Data.Operation</strong></p>
    <p class="lead">Result: <strong>@ViewBag.Data.Result</strong></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
